@import "button";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    width: 100%;
    height:100%;
}


main {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 10px;
  background-color: black;

  section {
    flex-grow: 1;
    background-color: palevioletred;
    background-position: center;  
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;   

   

    &:nth-child(1){
        
        background-image: url('https://i.pinimg.com/736x/0a/70/21/0a702162bcab681ce81b556f6df5d00b.jpg');
    }
     &:nth-child(2){
        
        background-image: url('https://i.pinimg.com/736x/b0/a1/db/b0a1dbcb13f99a3fec5a941b10d7611f.jpg');
    }
     &:nth-child(3){
        
        background-image: url('https://i.pinimg.com/736x/b5/76/8e/b5768e77e724fd7c5d786ce1cd06a609.jpg');
    }
     &:nth-child(4){
        
        background-image: url('https://i.pinimg.com/1200x/a8/95/fa/a895fa3a270ee09372a3c5f026c0c60d.jpg');
    }
     &:nth-child(5){
        
        background-image: url('https://i.pinimg.com/736x/8d/f4/b9/8df4b91255ef8883dbb224d4df88fd32.jpg');
    }
    
}
    section:hover{
        flex-grow: 2;
        transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
        cursor: pointer;
    }

   
  
}
 .save{
    margin: 2vw;
        @include button-style(pink,black,15px);
    }
.delete{
    margin-left: 90vw;
        @include button-style(palevioletred,black,15px);
    }
    